* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-front-smoothing: grayscale;
}

:root {
  /* 1rem == 10px */
  font-size: 62.5%;

  /* Colors */
  --purple-300: #9F67FF;
  --purple-500: #7C3AED;
  --gray-50: #F8FAFC;
  --gray-100: #F1F5F9;
  --gray-200: #E2E8F0;
  --gray-300: #CBD5E1;
  --gray-400: #94A3B8;
  --gray-500: #64748B;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
  --white: #FFF;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--gray-50);
  font-size: 1.6rem;
}

body,
input,
button {
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: var(--purple-500);
  text-decoration: none;
}

a:hover,
a:visited {
  text-decoration: underline;
}

aside {
  flex: 1;
  padding: 4rem 11.2rem;
}

aside header {
  margin-bottom: 11.4rem;
}

main h1 {
  color: var(--gray-800);
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  line-height: 5.5rem;
}

main p {
  max-width: 35rem;
  color: var(--gray-600);
  line-height: 2.4rem;
}

main form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 38.4rem;
  margin-top: 4rem;
}

main form label {
  color: var(--gray-800);
  margin-bottom: .8rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
}

main form input {
  background: var(--white);
  color: var(--gray-800);
  margin-bottom: 1.6rem;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  padding: 1.6rem 1.2rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

main form input::placeholder {
  color: var(--gray-400);
}

main form input:focus {
  outline: 1px solid var(--purple-500);
}

main form .label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
}

.label-wrapper label {
  margin-bottom: 0;
}

.label-wrapper a {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
}

.input-wrapper .hidden-password {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: transparent;
  color: var(--gray-400);
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  line-height: 0;
  cursor: pointer;
}

.hidden-password #eye {
  display: none;
}


main form button[type="submit"] {
  background: var(--purple-500);
  color: var(--white);
  margin: 1.6rem 0;
  border: none;
  border-radius: 4px;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: background ease-in .2s;
  cursor: pointer;
}

main form button[type="submit"]:hover {
  background: var(--purple-300);
}

main p a {
  font-weight: 700;
}

main p:last-of-type {
  margin-top: 1.6rem;
}

.background {
  flex: 2;
  background: url(./assets/background.png) no-repeat center/cover;
}

@media (max-width: 1020px) {
  aside header {
    text-align: center;
  }

  aside main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .background {
    display: none;
  }
}

@media (max-width: 540px) {
  aside {
    padding: 2.4rem;
  }
}